-='cd -'
..='cd ..'
...='cd ../..'
1='cd -'
2='cd +2'
3='cd +3'
4='cd +4'
5='cd +5'
6='cd +6'
7='cd +7'
8='cd +8'
9='cd +9'
_=sudo
ack=ack-grep
afind='ack-grep -il'
base_t='PYTHONPATH=~/pinboard:$PYTHONPATH nosetests'
cd..='cd ..'
cd...='cd ../..'
cd....='cd ../../..'
cd.....='cd ../../../..'
cd/='cd /'
d='dirs -v'
datalayer='/mnt/pinboard/tools/internal_apps/datalayer/start.py 9000'
dj=./manage.py
ebuild='nocorrect ebuild'
editaliases='$EDITOR $ALIAS_FILE;realias'
g=git
ga='git add'
gb='git branch'
gba='git branch -a'
gc='git commit -v'
gca='git commit -v -a'
gcm='git checkout master'
gco='git checkout'
gcount='git shortlog -sn'
gcp='git cherry-pick'
gd='git diff'
ggpnp='git pull origin $(current_branch) && git push origin $(current_branch)'
ggpull='git pull origin $(current_branch)'
ggpush='git push origin $(current_branch)'
gist='nocorrect gist'
git-svn-dcommit-push='git svn dcommit && git push github master:svntrunk'
gl='git pull'
gl1='git log --oneline'
glg='git log --stat --max-count=5'
glgg='git log --graph --max-count=5'
globurl='noglob urlglobber '
gm='git merge'
gp='git push'
grc='git rebase --continue'
grh='git reset HEAD'
grhh='git reset HEAD --hard'
grim='git rebase --interactive origin/master'
gs='git status'
gsd='git svn dcommit'
gsr='git svn rebase'
gss='git status -s'
gst='git status'
gup='git fetch && git rebase'
heroku='nocorrect heroku'
history='fc -l 1'
hpodder='nocorrect hpodder'
l='ls -la'
ll='ls -l'
ls='ls --color=tty'
lsa='ls -lah'
man='nocorrect man'
md='mkdir -p'
mkdir='nocorrect mkdir'
mv='nocorrect mv'
mysql='nocorrect mysql'
po=popd
pu=pushd
rd=rmdir
realias='source $ALIAS_FILE'
rezsh='source ~/.zshrc'
rmpyc='rm **/*.pyc'
rs='dj runserver_plus'
sl=ls
t='base_t --with-nicedots'
tp='t --pdb-fail --pdb'
tpretty='base_t --with-progressive'
vi=/usr/local/bin/vim
whatchanged='git diff --name-only origin/master'
which-command=whence
