*.egg-info
*.elc
*.pyc
*.swp
*~
.#*
.*.swp
.DS_Store
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/history
.emacs.d/site/nxhtml
.emacs.d/tramp
.emacs.desktop
.ipython
.vim/.netrwhist
.virtualenvs
.zsh/cache
TAGS
build
dist
tags
.oh-my-zsh
.idea/
.ipython/profile_default/history.sqlite
