[user]
    name = Dave Dash
    email = dd@davedash.com
[color]
    diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = /Users/davedash/.gitignore
[alias]
    ff = merge --ff-only
    ci = commit
    co = checkout
    ff = merge --ff-only
    sync = !git fetch origin && git rebase origin/master
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    new = checkout master -b
    here = rev-parse --abbrev-ref HEAD
    makepr = !git push origin $(git rev-parse --abbrev-ref HEAD) && hub pull-request -o
[merge]
	tool = meld
[github]
    user = davedash
[interactive]
	singlekey = 1
[push]
    default = matching
[hub]
    protocol = ssh
[credential]
	helper = osxkeychain
[color "diff"]
	whitespace = red reverse
