[user]
	name = Dave Dash
	email = dd@davedash.com
[color]
    diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = /Users/davedash/.dotfiles/.gitignore
	editor = code --wait
[alias]
    ff = merge --ff-only
    ci = commit
    co = checkout
    ff = merge --ff-only
    fro = !git fetch origin && git rebase origin/main
	  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    new = checkout main -b
    here = rev-parse --abbrev-ref HEAD
    makepr = !git push origin $(git rev-parse --abbrev-ref HEAD) $@ && gh pr create && gh pr view --web
		makeprf = !git fro && git update-pr && git makepr
[merge]
	tool = meld
[github]
    user = davedash
[interactive]
	singlekey = 1
[push]
    default = matching
[hub]
    protocol = ssh
[credential]
	helper = osxkeychain
[color "diff"]
	whitespace = red reverse
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[pager]
	branch = false
