[user]
	name = Dave Dash
	email = dave@pinterest.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = $HOME/.gitignore
[alias]
    ci = commit
    co = checkout
    sync = !git fetch origin && git rebase origin/master
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[merge]
	tool = meld
[github]
    user = davedash
[interactive]
	singlekey = 1
[push]
	default = matching
[reviewboard]
	url = https://reviewboard.pinadmin.com/
